@mixin todo-dark-theme {
  --todo-bg-color: #1a1a1a;
  --element-color: #333333;
  --element-hover-color: #444444;
  --elelemt-bg-color: #262626;
  --todo-text-color: #e0e0e0;
  --error-color: #ff4c4c;
  --accent-color: #43c30e;
}

@mixin todo-light-theme {
  --todo-bg-color: #ececec;
  --element-color: #d9d9d9;
  --element-hover-color: #e7e7e7;
  --elelemt-bg-color: #fff;
  --todo-text-color: #000;
  --error-color: #f11414;
  --accent-color: #43c30e;
}
