@mixin todo-dark-theme {
  --todo-bg-color: #1e1e1e;
  --element-color: #3a3a3a;
  --element-hover-color: #505050;
  --elelemt-bg-color: #2a2a2a;
  --todo-text-color: #fff;
  --error-color: #ff4c4c;
  --accent-color: #43c30e;
}

@mixin todo-light-theme {
  --todo-bg-color: #ececec;
  --element-color: #d9d9d9;
  --element-hover-color: #e7e7e7;
  --elelemt-bg-color: #fff;
  --todo-text-color: #000;
  --error-color: #f11414;
  --accent-color: #43c30e;
}
