.todoContainer {
  display: flex;
  width: 100%;
  min-width: 400px;
  height: 100%;
  min-height: 600px;
}

.todo {
  display: flex;
  gap: 25px;
  background-color: var(--todo-bg-color);
  padding: 25px;
  min-width: 100%;
  min-height: 100%;
  color: black;
}

.todo * {
  color: black;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

.filters {
}
