.todo {
  display: flex;
  position: relative;
  gap: 25px;
  background-color: var(--todo-bg-color);
  padding: 25px;
  min-width: 100%;
  min-height: 100%;
  color: black;
}

.todo * {
  color: var(--todo-text-color);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

.extraControls {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
