.todoContainer {
  display: flex;
  width: 100%;
  min-width: 400px;
  height: 100%;
  min-height: 600px;
}

.todo * {
  color: black;
}

.todo {
  background-color: var(--todo-bg-color);
  min-width: 100%;
  min-height: 100%;
}
