:root {
  --todo-bg-color: #ececec;
  --element-color: #d9d9d9;
  --element-hover-color: #e7e7e7;
  --elelemt-bg-color: #fff;
  --error-color: #f11414;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--todo-bg-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--element-color);
}

::-webkit-scrollbar-thumb:hover {
  background: #afafaf;
}
