.tetrisContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--main-bg-color);
  width: 600px;
  height: 600px;
}

.gameOver {
  position: absolute;
}

.info * {
  color: var(--main-color);
}
