.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  cursor: pointer;
  border-radius: 10px;
  background-color: white;
  padding: 12px;
  width: 100%;
  font-weight: bold;
}

.checked {
  text-decoration: line-through;
}

