.container {
  margin: 0;
  background-color: black;
  padding: 20px;
  height: 100vh;
  overflow: hidden;
  color: var(--text-color);
  font-family: monospace;
}

.terminal {
  line-height: 1.2;
  white-space: pre-wrap;
}

.cursor {
  display: inline-block;
  animation: blink 1s step-end infinite;
  background-color: var(--text-color);
  width: 8px;
  height: 15px;
}

.textLine {
  transform: translateY(20px);
  opacity: 0;
  animation: fadeInUp 0.3s ease forwards;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes fadeInUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.skip {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: var(--text-color);
  font-size: 14px;
}
