@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinnerContainer {
  position: absolute;
  right: 30px;
}

.spinner {
  animation: spin 0.8s linear infinite;
  border: 2px solid var(--accent-color);
  border-top: 2px solid transparent;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
