.container {
  position: relative;
}

.menu {
  position: absolute;
  z-index: 500;
  margin-top: 5px;
  border: 1px solid var(--main-color);
  border-radius: 3px;
  background-color: black;
  padding: 5px;
  width: 250px;
}

.item {
  &:hover {
    background-color: var(--hover-color);
  }
}
